body {
  text-align: center;
}

#output {
  background-color: gold;
  height: 50px;
  width: 250px;
  text-align: left;
  margin: 5px 50px;
  padding: 2px;
  border-radius: 2px;
  border: 1px solid goldenrod;
}

.container {
  background-color: oldlace;
  height: auto;
  width: 400px;
  border: 1px solid black;
  border-radius: 5px;
}

#display {
  padding: 20px 50px;
  border: 2px solid green;
  border-radius: 5px;
  text-align: left;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
}

.box {
  margin: 15px;
}

.bttn {
  height: 65px;
  width: 65px;
  margin: 2px 0;
}
